<a href="https://colab.research.google.com/github/celeneheng/IS170_Binder/blob/10-Support-Vector-Machine/Fuentes_Valenzuela_Durante_SVM_Lab11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Edwin Fuentes, Joseph Durante, yadira valenzuela

https://www.kaggle.com/datasets/shashwatwork/dementia-prediction-dataset

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import metrics

In [ ]:
mydata=pd.read_csv("dementia_dataset.csv")

In [ ]:
mydata.shape

(373, 15)

In [ ]:
mydata.head()

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,M,R,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046
3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,M,R,76,12,NaN,28.0,0.5,1738,0.713,1.010
4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,M,R,80,12,NaN,22.0,0.5,1698,0.701,1.034

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [ ]:
mydata

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,M,R,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046
3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,M,R,76,12,NaN,28.0,0.5,1738,0.713,1.010
4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,M,R,80,12,NaN,22.0,0.5,1698,0.701,1.034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,OAS2_0185,OAS2_0185_MR2,Demented,2,842,M,R,82,16,1.0,28.0,0.5,1693,0.694,1.037
369,OAS2_0185,OAS2_0185_MR3,Demented,3,2297,M,R,86,16,1.0,26.0,0.5,1688,0.675,1.040
370,OAS2_0186,OAS2_0186_MR1,Nondemented,1,0,F,R,61,13,2.0,30.0,0.0,1319,0.801,1.331
371,OAS2_0186,OAS2_0186_MR2,Nondemented,2,763,F,R,63,13,2.0,30.0,0.0,1327,0.796,1.323
372,OAS2_0186,OAS2_0186_MR3,Nondemented,3,1608,F,R,65,13,2.0,30.0,0.0,1333,0.801,1.317

In [ ]:
le=LabelEncoder()

In [ ]:
label=le.fit_transform(mydata["Group"])
label

array([2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 2,
       2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 1,
       1, 1, 1, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 0, 0, 0, 1, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 2, 2, 1, 1,
       1, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 2, 2,
       2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2,
       2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       1, 1, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 0, 0, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 1, 0, 0,
       0, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 1, 1, 2, 2, 2, 2, 1, 1, 2, 2, 2, 0, 0, 0,
       0, 0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1,
       1, 1, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 2, 2, 2, 2, 2, 2, 1,
       1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1,
       1, 1, 1, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 1, 1, 1, 0, 0, 0, 2, 2, 2,
       2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2])

In [ ]:
mydata.drop("Group", axis=1, inplace=True)
mydata["Group"] = label
mydata

,Subject ID,MRI ID,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Group
0,OAS2_0001,OAS2_0001_MR1,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883,2
1,OAS2_0001,OAS2_0001_MR2,2,457,M,R,88,14,2.0,30.0,0.0,2004,0.681,0.876,2
2,OAS2_0002,OAS2_0002_MR1,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046,1
3,OAS2_0002,OAS2_0002_MR2,2,560,M,R,76,12,NaN,28.0,0.5,1738,0.713,1.010,1
4,OAS2_0002,OAS2_0002_MR3,3,1895,M,R,80,12,NaN,22.0,0.5,1698,0.701,1.034,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,OAS2_0185,OAS2_0185_MR2,2,842,M,R,82,16,1.0,28.0,0.5,1693,0.694,1.037,1
369,OAS2_0185,OAS2_0185_MR3,3,2297,M,R,86,16,1.0,26.0,0.5,1688,0.675,1.040,1
370,OAS2_0186,OAS2_0186_MR1,1,0,F,R,61,13,2.0,30.0,0.0,1319,0.801,1.331,2
371,OAS2_0186,OAS2_0186_MR2,2,763,F,R,63,13,2.0,30.0,0.0,1327,0.796,1.323,2
372,OAS2_0186,OAS2_0186_MR3,3,1608,F,R,65,13,2.0,30.0,0.0,1333,0.801,1.317,2

In [ ]:
label=le.fit_transform(mydata["M/F"])
label

array([1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0])

In [ ]:
mydata.drop("M/F", axis=1, inplace=True)
mydata["M/F"] = label
mydata

,Subject ID,MRI ID,Visit,MR Delay,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Group,M/F
0,OAS2_0001,OAS2_0001_MR1,1,0,R,87,14,2.0,27.0,0.0,1987,0.696,0.883,2,1
1,OAS2_0001,OAS2_0001_MR2,2,457,R,88,14,2.0,30.0,0.0,2004,0.681,0.876,2,1
2,OAS2_0002,OAS2_0002_MR1,1,0,R,75,12,NaN,23.0,0.5,1678,0.736,1.046,1,1
3,OAS2_0002,OAS2_0002_MR2,2,560,R,76,12,NaN,28.0,0.5,1738,0.713,1.010,1,1
4,OAS2_0002,OAS2_0002_MR3,3,1895,R,80,12,NaN,22.0,0.5,1698,0.701,1.034,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,OAS2_0185,OAS2_0185_MR2,2,842,R,82,16,1.0,28.0,0.5,1693,0.694,1.037,1,1
369,OAS2_0185,OAS2_0185_MR3,3,2297,R,86,16,1.0,26.0,0.5,1688,0.675,1.040,1,1
370,OAS2_0186,OAS2_0186_MR1,1,0,R,61,13,2.0,30.0,0.0,1319,0.801,1.331,2,0
371,OAS2_0186,OAS2_0186_MR2,2,763,R,63,13,2.0,30.0,0.0,1327,0.796,1.323,2,0
372,OAS2_0186,OAS2_0186_MR3,3,1608,R,65,13,2.0,30.0,0.0,1333,0.801,1.317,2,0

In [ ]:
label=le.fit_transform(mydata["Hand"])
label

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
mydata.drop("Hand", axis=1, inplace=True)
mydata["Hand"] = label
mydata

,Subject ID,MRI ID,Visit,MR Delay,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Group,M/F,Hand
0,OAS2_0001,OAS2_0001_MR1,1,0,87,14,2.0,27.0,0.0,1987,0.696,0.883,2,1,0
1,OAS2_0001,OAS2_0001_MR2,2,457,88,14,2.0,30.0,0.0,2004,0.681,0.876,2,1,0
2,OAS2_0002,OAS2_0002_MR1,1,0,75,12,NaN,23.0,0.5,1678,0.736,1.046,1,1,0
3,OAS2_0002,OAS2_0002_MR2,2,560,76,12,NaN,28.0,0.5,1738,0.713,1.010,1,1,0
4,OAS2_0002,OAS2_0002_MR3,3,1895,80,12,NaN,22.0,0.5,1698,0.701,1.034,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,OAS2_0185,OAS2_0185_MR2,2,842,82,16,1.0,28.0,0.5,1693,0.694,1.037,1,1,0
369,OAS2_0185,OAS2_0185_MR3,3,2297,86,16,1.0,26.0,0.5,1688,0.675,1.040,1,1,0
370,OAS2_0186,OAS2_0186_MR1,1,0,61,13,2.0,30.0,0.0,1319,0.801,1.331,2,0,0
371,OAS2_0186,OAS2_0186_MR2,2,763,63,13,2.0,30.0,0.0,1327,0.796,1.323,2,0,0
372,OAS2_0186,OAS2_0186_MR3,3,1608,65,13,2.0,30.0,0.0,1333,0.801,1.317,2,0,0

In [ ]:
mydata

,Subject ID,MRI ID,Visit,MR Delay,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Group,M/F,Hand
0,OAS2_0001,OAS2_0001_MR1,1,0,87,14,2.0,27.0,0.0,1987,0.696,0.883,2,1,0
1,OAS2_0001,OAS2_0001_MR2,2,457,88,14,2.0,30.0,0.0,2004,0.681,0.876,2,1,0
2,OAS2_0002,OAS2_0002_MR1,1,0,75,12,NaN,23.0,0.5,1678,0.736,1.046,1,1,0
3,OAS2_0002,OAS2_0002_MR2,2,560,76,12,NaN,28.0,0.5,1738,0.713,1.010,1,1,0
4,OAS2_0002,OAS2_0002_MR3,3,1895,80,12,NaN,22.0,0.5,1698,0.701,1.034,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,OAS2_0185,OAS2_0185_MR2,2,842,82,16,1.0,28.0,0.5,1693,0.694,1.037,1,1,0
369,OAS2_0185,OAS2_0185_MR3,3,2297,86,16,1.0,26.0,0.5,1688,0.675,1.040,1,1,0
370,OAS2_0186,OAS2_0186_MR1,1,0,61,13,2.0,30.0,0.0,1319,0.801,1.331,2,0,0
371,OAS2_0186,OAS2_0186_MR2,2,763,63,13,2.0,30.0,0.0,1327,0.796,1.323,2,0,0
372,OAS2_0186,OAS2_0186_MR3,3,1608,65,13,2.0,30.0,0.0,1333,0.801,1.317,2,0,0

In [ ]:
print(mydata.isnull().sum())

Subject ID     0
MRI ID         0
Visit          0
MR Delay       0
Age            0
EDUC           0
SES           19
MMSE           2
CDR            0
eTIV           0
nWBV           0
ASF            0
Group          0
M/F            0
Hand           0
dtype: int64

In [ ]:
mydata.fillna(value=0, inplace=True)
mydata

,Subject ID,MRI ID,Visit,MR Delay,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Group,M/F,Hand
0,OAS2_0001,OAS2_0001_MR1,1,0,87,14,2.0,27.0,0.0,1987,0.696,0.883,2,1,0
1,OAS2_0001,OAS2_0001_MR2,2,457,88,14,2.0,30.0,0.0,2004,0.681,0.876,2,1,0
2,OAS2_0002,OAS2_0002_MR1,1,0,75,12,0.0,23.0,0.5,1678,0.736,1.046,1,1,0
3,OAS2_0002,OAS2_0002_MR2,2,560,76,12,0.0,28.0,0.5,1738,0.713,1.010,1,1,0
4,OAS2_0002,OAS2_0002_MR3,3,1895,80,12,0.0,22.0,0.5,1698,0.701,1.034,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,OAS2_0185,OAS2_0185_MR2,2,842,82,16,1.0,28.0,0.5,1693,0.694,1.037,1,1,0
369,OAS2_0185,OAS2_0185_MR3,3,2297,86,16,1.0,26.0,0.5,1688,0.675,1.040,1,1,0
370,OAS2_0186,OAS2_0186_MR1,1,0,61,13,2.0,30.0,0.0,1319,0.801,1.331,2,0,0
371,OAS2_0186,OAS2_0186_MR2,2,763,63,13,2.0,30.0,0.0,1327,0.796,1.323,2,0,0
372,OAS2_0186,OAS2_0186_MR3,3,1608,65,13,2.0,30.0,0.0,1333,0.801,1.317,2,0,0

In [ ]:
mydata["SES"]=mydata["SES"].fillna(value=0)
mydata

,Visit,MR Delay,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Group,M/F,Hand
0,1,0,87,14,2.0,27.0,0.0,1987,0.696,0.883,2,1,0
1,2,457,88,14,2.0,30.0,0.0,2004,0.681,0.876,2,1,0
2,1,0,75,12,0.0,23.0,0.5,1678,0.736,1.046,1,1,0
3,2,560,76,12,0.0,28.0,0.5,1738,0.713,1.010,1,1,0
4,3,1895,80,12,0.0,22.0,0.5,1698,0.701,1.034,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,2,842,82,16,1.0,28.0,0.5,1693,0.694,1.037,1,1,0
369,3,2297,86,16,1.0,26.0,0.5,1688,0.675,1.040,1,1,0
370,1,0,61,13,2.0,30.0,0.0,1319,0.801,1.331,2,0,0
371,2,763,63,13,2.0,30.0,0.0,1327,0.796,1.323,2,0,0
372,3,1608,65,13,2.0,30.0,0.0,1333,0.801,1.317,2,0,0

In [ ]:

mydata["MMSE"]=mydata["MMSE"].fillna(value=0)
mydata

,Visit,MR Delay,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Group,M/F,Hand
0,1,0,87,14,2.0,27.0,0.0,1987,0.696,0.883,2,1,0
1,2,457,88,14,2.0,30.0,0.0,2004,0.681,0.876,2,1,0
2,1,0,75,12,0.0,23.0,0.5,1678,0.736,1.046,1,1,0
3,2,560,76,12,0.0,28.0,0.5,1738,0.713,1.010,1,1,0
4,3,1895,80,12,0.0,22.0,0.5,1698,0.701,1.034,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,2,842,82,16,1.0,28.0,0.5,1693,0.694,1.037,1,1,0
369,3,2297,86,16,1.0,26.0,0.5,1688,0.675,1.040,1,1,0
370,1,0,61,13,2.0,30.0,0.0,1319,0.801,1.331,2,0,0
371,2,763,63,13,2.0,30.0,0.0,1327,0.796,1.323,2,0,0
372,3,1608,65,13,2.0,30.0,0.0,1333,0.801,1.317,2,0,0

In [ ]:
mydata

,Visit,MR Delay,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Group,M/F,Hand
0,1,0,87,14,2.0,27.0,0.0,1987,0.696,0.883,2,1,0
1,2,457,88,14,2.0,30.0,0.0,2004,0.681,0.876,2,1,0
2,1,0,75,12,0.0,23.0,0.5,1678,0.736,1.046,1,1,0
3,2,560,76,12,0.0,28.0,0.5,1738,0.713,1.010,1,1,0
4,3,1895,80,12,0.0,22.0,0.5,1698,0.701,1.034,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,2,842,82,16,1.0,28.0,0.5,1693,0.694,1.037,1,1,0
369,3,2297,86,16,1.0,26.0,0.5,1688,0.675,1.040,1,1,0
370,1,0,61,13,2.0,30.0,0.0,1319,0.801,1.331,2,0,0
371,2,763,63,13,2.0,30.0,0.0,1327,0.796,1.323,2,0,0
372,3,1608,65,13,2.0,30.0,0.0,1333,0.801,1.317,2,0,0

In [ ]:
#the x data is saved without 'target' column to make only features dataframe
x=mydata.drop('Group',axis=1)

In [ ]:
#the y data is saved only with 'target' column
y=mydata['Group']

In [ ]:
#create a model
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=2)

In [ ]:
#kernel specifying
clf=svm.SVC(kernel='linear')

#train and fit the model
clf.fit(x_train,y_train)

SVC(kernel='linear')

In [ ]:
#predict the response
y_pred=clf.predict(x_test)

In [ ]:
#model accuracy
print("Accuracy: ", metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.9066666666666666

In [ ]:
precision = metrics.precision_score(y_test, y_pred, average='macro')
recall = metrics.recall_score(y_test, y_pred, average='macro')

print("Precision:", precision)
print("Recall:", recall)

Precision: 0.7767023701983051
Recall: 0.8125595738716007